@import url("https://fonts.googleapis.com/css?family=Red+Hat+Display:400,900&display=swap");

.top3 .item {

  /* background-image: url("./image/image.svg"); */
  box-sizing: content-box;
  position: relative;
  width: 16rem;
  height: 15rem;
  text-align: center;
  padding: 2.8rem 0 0;
  margin: 1rem 1rem 2rem;
  transform-origin: bottom;
  cursor: pointer;
    border-radius: 20px;
    background: #f0f0f0;
    box-shadow:  0 0 0 #cccccc,
                 0 0 0 #ffffff,
                  10px 10px 10px #cccccc inset,
                  -10px -10px 10px #ffffff inset;
 
}
/* .top3 .item {
  background-image: url("./image/image.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 600px 100px;
} */

.pos-avatar
{
  width: 6rem;
  height: 6rem;
}


.top3 .item .pic {
  position: absolute;
  top: -2rem;
  left: 2.5rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin-right: 1rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2),
    0 1rem 1rem -0.5rem rgba(0, 0, 0, 0.3);
  opacity: 0;
}

.top3 .item .pos {
  font-weight: 900;
  font-size: 1.9rem;
  /* margin-bottom: 0.5rem; */
  height: 7rem;
  opacity: 1;
}

.top3 .item .name {
  font-size: 1.9rem;
  /* margin-bottom: 0.5rem; */
  opacity: 0;
}
.top3 .item .score {
  font-size: 1.3rem;
  opacity: 0;
}

.top3 .item .score:after {
  display: block;
  opacity: 0.5;
}

.top3 .item.one {
  width: 14rem;
  height: 16rem;
  padding-top: 3.5rem;
}

.top3 .item.one .pic {
  width: 5rem;
  height: 5rem;
  left: 2.5rem;
}

.top3 .item.one .pos-avatar {
  width: 9rem;
  height: 9rem;
}
.top3 .item.two .pos-avatar {
  width: 8rem;
  height: 8rem;
}
.top3 .item.three .pos-avatar {
  width: 7rem;
  height: 7rem;
}

.top3 .item:hover {
  transform: scale(1.05);
}

.item.two {
  border-radius: 20px;
  width: 12rem;
  height: 15rem;
  background: #f0f0f0;
  box-shadow: 0 0 0 #cccccc, 0 0 0 #ffffff, 10px 10px 10px #cccccc inset,
    -10px -10px 10px #ffffff inset;

  animation: animetwo 6s cubic-bezier(0.16, 1, 0.3, 1) 15s 2 alternate;
  order: 1;
  /* z-index: 3; */
}

.item.three {
  border-radius: 20px;
  width: 11rem;
  height: 14rem;
  background: #f0f0f0;
  box-shadow: 0 0 0 #cccccc, 0 0 0 #ffffff, 10px 10px 10px #cccccc inset,
    -10px -10px 10px #ffffff inset;
  animation: animethree 6s cubic-bezier(0.16, 1, 0.3, 1) 3s 2 alternate;
  order: 3;
  /* z-index: 3; */
}

.item.one {
  border-radius: 20px;
  width: 14rem;
  height: 16rem;
  background: #f0f0f0;
  box-shadow: 0 0 0 #cccccc, 0 0 0 #ffffff, 10px 10px 10px #cccccc inset,
    -10px -10px 10px #ffffff inset;
  animation: animeone 6s cubic-bezier(0.16, 1, 0.3, 1) 27s 2 alternate;
  order: 2;
  /* z-index: 3; */
}

@keyframes animeone {
  0% {
    width: 14rem;
  height: 16rem;
    background: #f0f0f0;
    box-shadow: 0 0 0 #cccccc, 0 0 0 #ffffff, 10px 10px 10px #cccccc inset,
      -10px -10px 10px #ffffff inset;
  }
  25% {
    width: 14rem;
  height: 16rem;
    background: #f8f8f8;
    box-shadow: 10px 10px 10px #cccccc, 10px 10px 10px #ffffff,
      0 0 0 #cccccc inset, 0 0 0 #ffffff inset;

  }
  50% {
    width: 14rem;
  height: 23rem;
    background: #f8f8f8;
    box-shadow: 10px 10px 10px #cccccc, 10px 10px 10px #ffffff,
      0 0 0 #cccccc inset, 0 0 0 #ffffff inset;
  }

  100% {
    width: 20rem;
    height: 23rem;
    background: #fafafa;
    box-shadow: 40px 40px 40px #cccccc, 0 0 0 #ffffff, 0 0 0 #cccccc inset,
      2px 2px 2px #ffffff inset;
  }
}


@keyframes animethree {
  0% {
    width: 11rem;
   height: 14rem;
    background: #f0f0f0;
    box-shadow: 0 0 0 #cccccc, 0 0 0 #ffffff, 10px 10px 10px #cccccc inset,
      -10px -10px 10px #ffffff inset;
    
  }
  25% {
    width: 11rem;
   height: 14rem;
    background: #f8f8f8;
    box-shadow: 10px 10px 10px #cccccc, 10px 10px 10px #ffffff,
      0 0 0 #cccccc inset, 0 0 0 #ffffff inset;
      
  }
  50% {
    width: 11rem;
   height: 23rem;
    background: #f8f8f8;
    box-shadow: 10px 10px 10px #cccccc, 10px 10px 10px #ffffff,
      0 0 0 #cccccc inset, 0 0 0 #ffffff inset;
      
  }

  100% {
    width: 20rem;
    height: 23rem;
    background: #fafafa;
    box-shadow: 40px 40px 40px #cccccc, 0 0 0 #ffffff, 0 0 0 #cccccc inset,
      2px 2px 2px #ffffff inset;
      
  }
}

@keyframes animetwo {
  0% {
    width: 12rem;
    height: 15rem;
    background: #f0f0f0;
    box-shadow: 0 0 0 #cccccc, 0 0 0 #ffffff, 10px 10px 10px #cccccc inset,
      -10px -10px 10px #ffffff inset;
  }
  25% {
    width: 12rem;
    height: 15rem;
    background: #f8f8f8;
    box-shadow: 10px 10px 10px #cccccc, 10px 10px 10px #ffffff,
      0 0 0 #cccccc inset, 0 0 0 #ffffff inset;

  }
  50% {
    width: 12rem;
    height: 23rem;
    background: #f8f8f8;
    box-shadow: 10px 10px 10px #cccccc, 10px 10px 10px #ffffff,
      0 0 0 #cccccc inset, 0 0 0 #ffffff inset;
  }

  100% {
    width: 20rem;
    height: 23rem;
    background: #fafafa;
    box-shadow: 40px 40px 40px #cccccc, 0 0 0 #ffffff, 0 0 0 #cccccc inset,
      2px 2px 2px #ffffff inset;
  }
}

.item.one .pic  {
  animation: twopa 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) 30s 1 forwards;

}
/* .item.one .pos-avatar  {
  animation: twopa 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) 30s 1 forwards;

} */


.item.one .name {
  animation: twopa 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) 31s 1 forwards;
}

.item.one .score {
  animation: twopa 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) 32s 1 forwards;
}

.item.two .pic {
  animation: twopa 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) 18s 1 forwards;
}
/* .item.two .pos-avatar {
  animation: twopa 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) 18s 1 forwards;
} */

.item.two .name {
  animation: twopa 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) 19s 1 forwards;
}

.item.two .score {
  animation: twopa 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) 20s 1 forwards;
}

.item.three .pic {
  animation: twopa 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) 6s 1 forwards;
}
/* .item.three .pos-avatar {
  animation: twopa 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) 6s 1 forwards;
} */
.item.three .name {
  animation: twopa 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) 7s 1 forwards;
}

.item.three .score {
  animation: twopa 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) 8s 1 forwards;
}



@keyframes twopa {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

/* @keyframes animeout {
  100% {
    width: 150px;
    height: 170px;
    background: #f0f0f0;
    box-shadow: 0 0 0 #cccccc, 0 0 0 #ffffff, 10px 10px 10px #cccccc inset,
      -10px -10px 10px #ffffff inset;
    
  }
  50% {
    width: 150px;
    height: 170px;
    background: #f8f8f8;
    box-shadow: 10px 10px 10px #cccccc, 10px 10px 10px #ffffff,
      0 0 0 #cccccc inset, 0 0 0 #ffffff inset;
   
  }
  25% {
    width: 150px;
    height: 240px;
    background: #f8f8f8;
    box-shadow: 10px 10px 10px #cccccc, 10px 10px 10px #ffffff,
      0 0 0 #cccccc inset, 0 0 0 #ffffff inset;
    
  }
  0% {
    width: 480px;
    height: 240px;
    background: #fafafa;
    box-shadow: 40px 40px 40px #cccccc, 0 0 0 #ffffff, 0 0 0 #cccccc inset,
      2px 2px 2px #ffffff inset;
   
  }
} */

.one .top-body
{
  padding: 1.2rem;
  line-height: 1.2;
}

.two .top-body
{
 padding: 0.3rem;
 line-height: 1.2;
}

.three .top-body
{
  position: relative;
  bottom: 0.7rem;
  line-height: 1.2;
}
